@use './_colors' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px $shadow;
    width: 100vh;
    transition: all 0.5s ease-in-out;
    margin-top: 80px;
    margin-bottom: 20px;
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}

.title {
    font-size: 30px;
    color: $primary;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.input-field {
    font-size: large;
    padding: 10px;
    border: 2px solid transparent;
    border-bottom: 2px solid $primary;
    transition: all 0.5s ease-in-out;
    background-color: $white;
    color: $primary;
    font-family: 'Poppins', sans-serif;
}

.input-field:focus {
    outline: none;
    border: 2px solid $primary;
    border-radius: 10px;
}

.input-field:hover {
    border: 2px solid $primary;
    border-radius: 10px;
}

.input-field::placeholder {
    color: $primary;
}

.custom-button {
    background-color: transparent;
    color: $primary;
    border: 2px solid $primary;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
    
}

.custom-button:hover {
    background-color: $primary;
    color: $white;
}

.app-logo {
    transform: scale(0.7);
    margin-bottom: -20px;
}

@media screen and (max-width: 950px) {
    .container {
        width: 90vw;
        box-shadow: none;
    }

    .title {
        font-size: 24px;
    }

    .input-field {
        font-size: medium;
    }

    .custom-button {
        font-size: medium;
    }
    
}
